livekit-agents[google]
livekit-plugins-noise-cancellation
python-dotenv
opencv-python
numpy
Pillow
mss
taskgroup
exceptiongroup
yt-dlp
google-api-python-client
google-auth-httplib2
google-auth-oauthlib 
requests 
elevenlabs
google-genai
langchain
langchain-community
ddgs
upstash-redis